<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
</head>

<body background="https://1.bp.blogspot.com/-sTxAHAxirGM/WVbAe2098nI/AAAAAAABENs/_I5sYMYgLOUzaIE7FfF4qdGX-hoAkq9SgCLcBGAs/s1600/Blog_20170624_113552.jpg">
 <div class="login">
	<title>Stock Price Prediction</title>
<center><h1>Stock Price Prediction</h1></center>
<h2>	  
<p>Choose the day you want to predict from the drop-down list.</p>

 <form action="{{ url_for('predict')}}" method="post">
 <label for="stock">Choose the stocks:</label>
  <select name="stockID" id="stockID">
    <option value="st1">Apple</option>
  </select>
  <br><br>
  <label for="days">Choose a day You want to predict starting from today:</label>
  <select name="days" id="days">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
	<option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
	<option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
	<option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
	<option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
	<option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
	<option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
	<option value="29">29</option>
    <option value="30">30</option>
    </select>
  <br><br>
  <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

</form>
   <font color= "Black">{{ prediction_text }}</font>
   </h2>
   </div>
</body>
</html>



<!--
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
   <body>
   <title>Stock Price Prediction</title>
      <center><h1>Stock Price Prediction</h1></center>
	  
	  <div class="container">
		<div class="row">
		
		  <form action="http://localhost:5000" method="POST">
		  	<div class="col-sm-9">
			 <div class="form-group  purple-border">
				  <label for="comment">texture_mean:</label>
				  <textarea class="form-control" rows="2" id="query1" name="query1" rows="2" cols="5" autofocus>{{query1}}</textarea>
			</div>
			
			</div>
			<div class="col-sm-3">
			<button type="submit" class="btn btn-primary" name="submit">SUBMIT</button>
			</div>
		  </form>
		  </div>
		  
		<div class="row"> 
			<div class="col-sm-9">
			<textarea class="form-control" rows="2" id="comment" name="query6" rows="2" cols="5" autofocus>{{output1}}</textarea>
			<textarea class="form-control" rows="2" id="comment" name="query7" rows="2" cols="5" autofocus>{{output2}}</textarea>
			</div>
		</div>
	</div>		
   </body>
</html>
-->